<aside class="column-right sidebar">
    <dl class="dl-inline sans">
        <div class="sidebar-block">
            <dt><span class="icon local"></span><strong><%= t.sidebar.location %></strong></dt>
            <dd>São Paulo, SP, <%= t.terms.brazil %></dd>   
        </div>
        <div class="sidebar-block">
            <dt><span class="icon email"></span><strong>Email</strong></dt>
            <dd><%= t.sidebar.email %></dd>
        </div>
        <div class="sidebar-block">
            <dt><span class="icon skype"></span><strong>Skype</strong></dt>
            <dd>v.avelino</dd>
        </div>
        <div class="sidebar-block">
            <dt><span class="icon twitter"></span><strong>Twitter</strong></dt>
            <dd><a href="http://twitter.com/vitoravelino" target="_blank" rel="nofollow">@vitoravelino</a></dd>    
        </div>
        <div class="sidebar-block">
            <dt><span class="icon facebook"></span><strong>Facebook</strong></dt>
            <dd><a href="http://wwww.facebook.com/vitoravelino" target="_blank" rel="nofollow">vitoravelino</a></dd>
        </div>
        <div class="sidebar-block">
            <dt><span class="icon lastfm"></span><strong>Last.fm</strong></dt>
            <dd><a href="http://last.fm/user/vitoravelino" target="_blank" rel="nofollow">vitoravelino</a></dd>
        </div>
        <div class="sidebar-block">
            <dt><span class="icon linkedin"></span><strong>LinkedIn</strong></dt>
            <dd><a href="http://www.linkedin.com/in/vitoravelino" target="_blank" rel="nofollow">vitoravelino</a></dd>
        </div>
    </dl>
</aside>