<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="pt-BR" dir="ltr"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="pt-BR" dir="ltr"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="pt-BRn" dir="ltr"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="pt-BR" dir="ltr"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Vítor Avelino - <%= t.terms.error %></title>
    <meta name="author" content="Vítor Avelino">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link href="http://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Dosis:400,700" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" >
    <link href="/blog/index.xml" rel="alternate" type="application/atom+xml" title="<%= title %> // Vítor Avelino [Garbage Collector]" />
    
    <!--[if (gte IE 6)&(lte IE 8)]>
        <script type="text/javascript" src="//cloudfront.vitoravelino.net/js/libs/selectivizr.min.js"></script>
    <![endif]-->
    <!--[if lte IE 9]>
        <script type="text/javascript" src="//cloudfront.vitoravelino.net/js/libs/foutbgone.js"></script>
        <script type="text/javascript">
            fbg.hideFOUT('asap');
        </script>
    <![endif]-->
    <script src="//cloudfront.vitoravelino.net/js/libs/modernizr-2.5.3.min.js"></script>
</head>

<body>
    <div class="wrapper-error">
        <section class="error">
            <header>
                <h1 class="title">Ooops!</h1>
            </header>

            <p>Algo de estranho aconteceu. Não foi possível carregar a página requisitada.</p>
            <p>Qualquer dúvida, entre em <a href="/contato">contato</a> comigo.</p>

            <footer class="footer">
                <a href="/">Voltar para o site</a>
            <footer>
        </section>
        
    </div> <!-- #wrapper end -->
    
    <script>
        var _gaq=[['_setAccount','UA-7715216-1'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.async=g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
    <!--[if lt IE 7 ]>
        <script defer src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
        <script defer>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
    <![endif]-->
</body>
</html>